<?xml version='1.0' encoding='utf-8'?>
<widget id="com.spritle.starterkit" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>cordovaStarterKit</name>
    <description>
        A sample Apache Cordova application that has rails style assets management.
    </description>
    <author email="praveenvignesh31@gmail.com" href="http://praveenvignesh31.wordpress.com">
        Praveen Vignesh
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
